<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Epilogue: Not a blog.{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <script src="//use.typekit.net/pby3feb.js"></script>
        <script>try{Typekit.load({ async: false });}catch(e){}</script>

        {% assets "styles" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}

    </head>
    <body>
        <div class="content {% block content_class %}{% endblock %}">
            {% block content %}{% endblock content %}
        </div>
        <footer class="site-footer">
            <p>
                &copy; 2015 by <a href="mailto:jason@betheshoe.com">Jason Goldstein</a>,
                who is fortunately better known for his <a href="http://betheshoe.com">filmmaking</a>
                and <a href="http://whatisjasongoldstein.com">web development</a>.
            </p>
        </footer>
    </body>

    {% assets "scripts" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
</html>
